<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elephant's Trunk</title>
    <style>
        body {
            margin: 0;
            max-width: 80%;
            margin: 0 auto;
            font-family: Arial sans-serif;
            letter-spacing: 1px;
            font-size: 18px;
        }

        h3 {
            font-weight: normal;
            padding: 0 25px;
            margin-top: 35px;
            font-size: 27px;
        }

        .docbody {
            padding: 5px 5px 20px 25px;
        }

        .footer {
            margin: 0 auto;
            padding: 0 25px;
        }
    </style>
</head>

<body>
    <div class="logo" style="text-align: center; background: url('http://104.211.219.149:1431/Choona/assets/images/dashboard-head.jpg');">
        <a style="display: inline-block;
    padding: 30px 0;" href="#">
            <img src="https://bakedlink.com/assets/images/logo.png" alt="Elephant's Trunk">
        </a>
    </div>
    <h3>
        <strong>Hello</strong>
        <%=name%> ,</h3>
    <div class="docbody">
        <p>Thank you for contacting with us. A member of our team will reach you shortly.</p>
    </div>

    <div class="footer">
        <strong>Thank You,</strong>
        <p>
            Regards,
            <br> Team Elephant's Trunk
        </p>
    </div>

</body>

</html>