<div class="">
    <div class="">Hello Admin,</div>
    <div class="">
        <p>A new contact form has been submitted. Please login into admin panel and check.</p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br>Team Elephant's Trunk</div>
</div>