<div class="">
    <div class="">Hi <%= fullname %>,</div>
    <div class="">
        <p>Please click on the link below to verify your email.</p>
    </div>
    <div class=""><a target="_blank" href="<%= verification_link %>">Verify Email</a></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %>,</div>
</div>