<div class="">
      <div class="">Hi</div>
      <div class="">
            <p>Please use below OTP for verify your account:</p>
      </div>
      <div class="">OTP: <span style="font-weight: bold;"><%=data.token%></span></div>
     
      <div class="">
            <p>Thank You,</p>
      </div>
      <div class="">Regards, Car Repair Admin</div>
</div>