<div class="">
      <div class="">Hi <%= data.user_firstname %></div>
      <div class="">
            <p>Please use below credential to login in the site carrepair.</p>
      </div>
      <div class="">Email: <span><%= data.email %></span></div>
      <p>
            <div class="">Password: <span><%= data.password %></span></div>
      </p>
      <div class="">
            <p>Thank You,</p>
      </div>
      <div class="">Regards, Carrepair Admin</div>
</div>