<div class="">
    <div class="">Hi <%= data.firstName %></div>
    <div class="">
        <p>We've received a request to reset your password.</p>
    </div>
    <div class="">Here's your new password: <span style="color: crimson"><%= data.password %></span></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, Carrepair Admin</div>
</div>