<div class="">
    <div class="">Hello <%=name%>,</div>
    <div class="">
        <p>Thank you for contacting with us. A member of our team will reach you shortly.</p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br>Team Elephant's Trunk</div>
</div>