<div class="">
    <div class="">Hi <%= full_name %>,</div>
    <div class="">
        <p><%= body %></p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %>,</div>
</div>