<div class="">
    <div class="">Hello
        <%= response.full_name %>,</div>
    <div class="">
        <p>Thank you for registering with us. Your temporary password is
            <%= response.password %>.</p>
        <p>
            Please login and change the password for your security reason.
        </p>
    </div>

    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br> Admin</div>
</div>