<div class="">
    <div class="">Hi <%= restaurant_name %>,</div>
    <div class="">
        <p>Please click on the link below to reset your account password.</p>
    </div>
    <div class=""><a target="_blank" href="<%= password_reset_link %>">Reset password.</a></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %>,</div>
</div>