<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">
        <p>We've received a request to reset your password.</p>
    </div>
    <div class="">Here's your verification code: <span style="color: crimson"><%= verification_code %></span></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br>Elephant's Trunk</div>
</div>