<% layout('layouts/mainLayout') -%>
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb permission">
    <div class="page-header pull-left">
        <div class="page-title"></div>
    </div>
    <div class="page-form permission-page">
        <div class="header-content">
            <h1>You need permission to access this page</h1>
        </div>
    </div>
    <div class="clearfix"></div>
</div>